.windows-right-menus{
  width: 236px;
  background-color: #f1f1f1;
  padding: 3px;
  position: fixed;
  z-index: 999999;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 #aaa;
  .window-right-menus-item{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666666;
    cursor: pointer;
    .window-right-menus-item-icon{
      width: 20px;
      height: 20px;
      margin: 0 5px;
      overflow: hidden;
    }
    .window-right-menus-item-name{
      width: 200px;
      height: 30px;
      line-height: 30px;
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap;
    }
  }
  .window-right-menus-item:hover{
    background-color: #ffffff;
  }
}