body{
  position: relative;
  padding: 0;
  margin: 0;
  .new-windows-box{
    box-sizing: border-box;
    background-color: #f5f5f5;
    box-shadow: 0 3px 6px 0 #aaa;
    border-radius: 6px;
    overflow: hidden;
    resize: both;
    *{
      box-sizing: border-box;
    }
    .new-windows-header{
      width: 100%;
      height: 36px;
      background-color: #f5f5f5;
      cursor: move;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      color: #808080;
      .new-windows-title{
        max-width: 300px;
        cursor: pointer;
      }
      .new-windows-btnbox{
        display: flex;
        align-items: center;
        height: 24px;
        .new-windows-btn{
          width: 30px;
          height: 30px;
          padding: 5px;
          cursor: pointer;
        }
        .new-windows-btn:hover{
          background-color: rgba($color: #aaa, $alpha: .5);
        }
      }
    }
    .new-windows-content{
      position: relative;
      height: calc(100% - 46px);
      overflow: hidden;
      background-color: #ffffff;
      .new-windows-html{
        height: 100%;
        width: 100%;
      }
    }
  }
  .new-windows-box.max{
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border: 1px solid #aaa;
  }
  .new-windows-box.mini{
    width: 0 !important;
    height: 0 !important;
  }

  #new-windows-shade{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
    cursor: move;
  }
}