.new-window-loading-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 99999;

  .new-window-loading-content {
    width: 500px;
    margin: auto;
    text-align: center;
    height: 90px;

    &>.new-window-loading-icon-box {
      width: 100%;
      height: calc(100% - 30px);
      display: flex;
      justify-content: center;
      align-items: flex-end;

      &>svg {
        width: 60px;
        height: 60px;
        animation: rotation 2s linear infinite;
      }
    }

    &>.new-window-loading-text-box {
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.animation {
        .new-window-loading-text-item {
          animation: byteDance 1s linear infinite;

          &.index-1 {
            animation-delay: 0.1s
          }

          &.index-2 {
            animation-delay: 0.2s
          }

          &.index-3 {
            animation-delay: 0.3s
          }

          &.index-4 {
            animation-delay: 0.4s
          }

          &.index-5 {
            animation-delay: 0.5s
          }

          &.index-6 {
            animation-delay: 0.6s
          }

          &.index-7 {
            animation-delay: 0.7s
          }

          &.index-8 {
            animation-delay: 0.8s
          }

          &.index-9 {
            animation-delay: 0.7s
          }

          &.index-10 {
            animation-delay: 0.6s
          }

          &.index-11 {
            animation-delay: 0.5s
          }

          &.index-12 {
            animation-delay: 0.4s
          }

          &.index-13 {
            animation-delay: 0.3s
          }

          &.index-14 {
            animation-delay: 0.2s
          }

          &.index-15 {
            animation-delay: 0.1s
          }

          &.index-16 {
            animation-delay: 0
          }

          &.index-17 {
            animation-delay: 0.1s
          }

          &.index-18 {
            animation-delay: 0.2s
          }

          &.index-19 {
            animation-delay: 0.3s
          }

          &.index-20 {
            animation-delay: 0.4s
          }
        }
      }
    }

    &.heartbeat {
      height: 60px;

      &>.new-window-loading-icon-box {
        &>.new-window-loading-icon-heartbeat-box {
          display: flex;
          justify-content: center;
          align-items: flex-end;

          &>.new-window-loading-icon-heartbeat {
            width: 10px;
            animation: loadingSkip 1s linear infinite;

            &+.new-window-loading-icon-heartbeat {
              margin-left: 5px;
            }

            &.index-1 {
              animation-delay: 0.1s
            }

            &.index-2 {
              animation-delay: 0.3s
            }

            &.index-3 {
              animation-delay: 0.5s
            }

            &.index-4 {
              animation-delay: 0.7s
            }

            &.index-5 {
              animation-delay: 0.9s
            }
          }
        }
      }
    }

    &.skip {
      height: 360px;
      align-items: flex-start;

      .new-window-loading-icon-skip {
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        animation: loadingHeartbeat 2s linear infinite;
      }
    }
  }
}

/** 文字跳动 */
@keyframes byteDance {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

/** 默认旋转 */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/** 心电图跳动 */
@keyframes loadingSkip {
  0% {
    height: 0;
  }

  25% {
    height: 15px;
  }

  50% {
    height: 30px;
  }

  75% {
    height: 15px;
  }

  100% {
    height: 0;
  }
}

/** 魔方跳动 */
@keyframes loadingHeartbeat {
  0% {
    transform: translateY(0) rotate(0);

  }

  25% {
    transform: translateY(-150px) rotate(90deg);
    border-radius: 50%;
  }

  50% {
    transform: translateY(-300px) rotate(180deg);
    border-radius: 0;
  }

  75% {
    transform: translateY(-150px) rotate(270deg);
    border-radius: 50%;
  }

  100% {
    transform: translateY(0) rotate(360deg);
  }
}